* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #29292E;
}

#page {
  width: 1280px;
  background-color: white;
  margin: 88px auto;
  padding: 88px 80px;
}

header p {
  text-align: center;
  margin-bottom: 104px;
}

header legend {
  margin-bottom: 2px;
}

header img {
  margin: 40px 0 24px;
}

legend {
  text-transform: uppercase;
  font-weight: bold;
  color: #E1624F;
}

h1 {
  font-size: 36px;
  color: #1B1B1B;
}

p, h2 {
  color: #333333;
}

img {
  width: 1120px;
  border-radius: 28px;
}

footer img {
  width: 16px;
}


