* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #29292E;
}

#page {
  width: 1280px;
  background-color: white;
  margin: 88px auto 48px;
  padding: 88px 80px 48px;
}

header p {
  text-align: center;
  margin-bottom: 40px;
}

header legend {
  margin-bottom: 8px;
}

header img {
  margin: 40px 0 24px;
}

#about {
  margin-bottom: 64px;
}

#about p {
  margin: 8px 0 64px;
}

#about legend {
  margin-top: 64px;
}
section h1 {
  margin-bottom: 4px;
}

section p {
  margin-bottom: 16px;
}

section img {
  height: 350px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

section:nth-child(1) img {
  object-position: 50% 48%;
}

section:nth-child(3) img {
  object-position: 50% 85%;
}

section + section {
  margin-top: 48px;
}

section ul {
  margin-left: 35px;
  font-weight: bold;
  color: #0C51A7;
}

#cards {
  margin-bottom: 40px;
}

.container p {
  text-align: center;
  margin-top: 40px;
}

li::marker {
  color: #333333;
}

#color-list li:nth-child(1) {
  color: #591B98;
}

#color-list li:nth-child(2) {
  color: #E5245E;
}

#color-list li:nth-child(3) {
  color: #E95E10;
}

legend {
  text-transform: uppercase;
  font-weight: bold;
  color: #E1624F;
  margin-bottom: 2px;
}

h1 {
  font-size: 36px;
  color: #1B1B1B;
}

p, h2 {
  color: #333333;
}

img {
  width: 1120px;
  border-radius: 28px;
}

footer {
  text-align: center;
  color: #333333;
  margin-top: 65px;
}

footer img {
  vertical-align: middle;
  width: 16px;
  text-align: center;
}


