* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

#page {
  margin: 88px auto;
}

main {
  margin: auto;
}

legend {
  text-transform: uppercase;
  font-weight: bold;
  color: #E1624F;
}

h1 {
  font-size: 36px;
  color: #1B1B1B;
}

p, h2 {
  color: #333333;
}

img {
  width: 1220px;
  border-radius: 28px;
}


